<!--Hey! This is the original version
of Simple CSS Waves-->

<div class="header" style="flex: 0">

    <!--Content before waves-->
    <div class="inner-header flex">
    <!--Just the logo.. Don't mind this-->
    </div>
    
    <!--Waves Container-->
    <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <!-- <use xlink:href="#gentle-wave" x="48" y="0" fill="#fff" /> -->
    <!-- <use xlink:href="#gentle-wave" x="48" y="3" fill="#B6EADA" /> -->
    <!-- <use xlink:href="#gentle-wave" x="48" y="5" fill="#5B8FB9" /> -->
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#301E67" />
    </g>
    </svg>
    </div>
    <!--Waves end-->
    
    </div>
    <!--Header ends-->
    
    <!--Content starts-->
    <div class="content flex">
      {% block content %}
      {% endblock %}
    </div>
    <!--Content ends-->